/* Egen CSS kan du lägga här */
body {
  background-color: #000000;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #ffffff;
}

a {
  color: #ffffff;
}

.navbar {
  background-color: #000000;
  color: #ffffff;
}

main.container-fluid {
    padding: 0;
}

.hero-fullwidth {
  width: 100%;
  height: 75vh; /* ändra till 100vh om du vill ha HEL höjd */
  position: relative;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  transform: scale(1.05); /* liten zoom för snygg effekt */
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45); /* mörk overlay för tydlig text */
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 3;
  max-width: 650px;
}


.card img {
  height: 220px;
  object-fit: cover;
}

section h2 {
  font-weight: 700;
  color: #ffffff;
}

.projekt-thumb img {
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.projekt-thumb:hover img {
    transform: scale(1.07);
    opacity: 0.85;
}

.projekt-galleri a {
    display: block;
    border-radius: 8px;
    overflow: hidden;
}
